<h2 class="ui dividing header">Visa Details</h2>
<div class="ui middle aligned divided list">
  <table class="ui basic table">
  <thead>
    <tr><th>S.No</th>
    <th>Employee No.</th>
    <th>First Name</th>
    <th>Visa No</th>
    <th>Visa Issue</th>
    <th>Visa Expiry</th>
    <th>Actions</th>
  </tr></thead>
  <tbody>
{{#each model as |employee|}}
<tr>
  <td>{{employee.id}}</td>
  <td>{{employee.empno}}</td>
  <td>{{employee.firstname}}</td>
  <td>{{employee.visano}}</td>
  <td>{{moment-format employee.vidate }}</td>
  <td> {{moment-format employee.vedate }} ({{moment-from-now employee.vedate }})</td>
  <td>
  {{#link-to "dashboard.employees.employee" employee }}
  <div class="ui button">Edit</div>
  {{/link-to}}</td>
</tr>
{{/each}}
  </tbody>
</table>


</div>
