<div class="column">

<div class="ui button" {{action "updateEmployee"}}>Update</div>
<div class="ui divider"></div>

<div class="ui labeled input">
      <a class="ui label">Employee No.</a>
      {{input type="text" value=employee.empno placeholder="Employee No."}}
</div>

<div class="ui left  labeled input">
        <a class="ui label">First Name</a>
        {{input type="text" value=employee.firstname placeholder="First Name."}}
</div>

<div class="ui divider"></div>

<div class="ui labeled input">
        <a class="ui label">Middle Name</a>
        {{input type="text" value=employee.middlename placeholder="Middle Name."}}
</div>

<div class="ui labeled input">
        <a class="ui label">Last Name</a>
        {{input type="text" value=employee.lastname placeholder="Last Name."}}
</div>


<div class="ui divider"></div>




{{#ui-dropdown class="selection left labeled" onChange=(action 'updateGender')}}
<a class="ui label">Gender</a>



{{#if employee.gender}}
<div class="text">{{employee.gender}}</div>
{{else}}
<div class=" defaulttext">Select your gender</div>
{{/if}}


<i class="dropdown icon"></i>
<div class="menu">
 {{#each genders as |gender|}}
   <div class="item selected" data-id="{{gender}}">
     {{gender}}
   </div>
 {{/each}}
 </div>
{{/ui-dropdown}}

<div class="ui labeled input">
        <a class="ui label">Passport Issue</a>
        {{pikaday-input value=startsAt placeholder="Passport Issue" }}
</div>
<div class="ui divider"></div>
<div class="ui labeled input">
        <a class="ui label">Passport Expiry </a>
        {{pikaday-input value=startsAt placeholder="Passport Expiry" }}
</div>
<div class="ui labeled input">
        <a class="ui label">Iqama No.</a>
        <input type="text" placeholder="Iqama Number">
</div>
<div class="ui divider"></div>

<div class="ui labeled input">
        <a class="ui label">Iqama Issue </a>
        {{pikaday-input value=startsAt placeholder="Iqama Issue" }}
</div>
<div class="ui labeled input">
        <a class="ui label">Iqama Expiry</a>
        {{pikaday-input value=startsAt placeholder="Iqama Expiry" }}
</div>
<div class="ui divider"></div>
<div class="ui labeled input">
        <a class="ui label">Insurance No.</a>
        <input type="text" placeholder="Insurance Number">
</div>
<div class="ui labeled input">
        <a class="ui label">Insurance Issue </a>
        {{pikaday-input value=startsAt placeholder="Insurance Issue" }}
</div>
<div class="ui divider"></div>
<div class="ui labeled input">
        <a class="ui label">Insurance Expiry</a>
        {{pikaday-input value=startsAt placeholder="Insurance Expiry" }}
</div>
<div class="ui labeled input">
        <a class="ui label">Visa No.</a>
        <input type="text" placeholder="Visa Number">
</div>

<div class="ui divider"></div>

<div class="ui labeled input">
        <a class="ui label">Visa Issue </a>
        {{pikaday-input value=startsAt placeholder="Visa Issue" }}
</div>
<div class="ui labeled input">
        <a class="ui label">Visa Expiry</a>
        {{pikaday-input value=startsAt placeholder="Visa Expiry" }}
</div>
<div class="ui divider"></div>

<a class="ui label">Maritial Status</a>
{{#ui-dropdown class="selection left labeled" }}

<div class="default text">Maritial Status</div>
<i class="dropdown icon"></i>
<div class="menu">
  <div class="item" data>
    Single
  </div>
  <div class="item" data>
    Married
  </div>
</div>
{{/ui-dropdown}}

<a class="ui label">Religion</a>
{{#ui-dropdown class="selection left labeled" }}
<div class="default text">Religion</div>
<i class="dropdown icon"></i>
<div class="menu">
  <div class="item" data>
    Single
  </div>
  <div class="item" data>
    Married
  </div>
</div>
{{/ui-dropdown}}


<div class="ui divider"></div>

<a class="ui label">Gender</a>
{{#ui-dropdown class="selection left labeled" }}
<div class="default text">Gender</div>
<i class="dropdown icon"></i>
<div class="menu">
  <div class="item" data>
    Single
  </div>
  <div class="item" data>
    Married
  </div>
</div>
{{/ui-dropdown}}

<div class="ui labeled input">
        <a class="ui label">Civil Status.</a>
        <input type="text" placeholder="Civil Status">
</div>
<div class="ui divider"></div>

<div class="ui labeled input">
        <a class="ui label">Designation.</a>
        <input type="text" placeholder="Designation">
</div>
<div class="ui labeled input">
        <a class="ui label">Department.</a>
        <input type="text" placeholder="Department">
</div>
<div class="ui divider"></div>

<div class="ui labeled input">
        <a class="ui label">Specialization.</a>
        <input type="text" placeholder="Specialization">
</div>
<div class="ui labeled input">
        <a class="ui label">Experience.</a>
        <input type="text" placeholder="Experience">
</div>
<div class="ui divider"></div>

<div class="ui labeled input">
        <a class="ui label">E-mail.</a>
        <input type="text" placeholder="E-mail">
</div>




</div>
