



<div class="column">



  <div class="ui form">
    <div class="fields">
      <div class="eight wide field">
        <label>Employee Number</label>
        {{input type="text" value=empno placeholder="Employee No."}}
      </div>

      <div class="four wide field">
        <div class="ui teal buttons">
          <div class="ui button" {{action "createEmployee"}}>Save</div>
        </div>
      </div>
    </div>

    <div class="fields">
      <div class="four wide field">
        <label>First name</label>
        {{input type="text" value=firstname placeholder="First Name."}}
      </div>
      <div class="four wide field">
        <label>Middle name</label>
        {{input type="text" value=middlename placeholder="Middle Name."}}
      </div>
      <div class="four wide field">
        <label>Last name</label>
        {{input type="text" value=lastname placeholder="Last Name."}}
      </div>
    </div>

    <div class="fields">

      <div class="four wide field">
        <label>Gender</label>
        {{#ui-dropdown class="ui selection dropdown" onChange=(action 'updateGender')}}
        <div class=" default text">Please Select</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each genders as |gender|}}
          <div class="item selected" data-id="{{gender}}">
            {{gender}}
          </div>
          {{/each}}
        </div>
        {{/ui-dropdown}}
      </div>

      <div class="four wide field">
        <label>D.O.B</label>
        {{pikaday-input value=dob placeholder="Date of Birth" }}
      </div>

    </div>


    <div class="fields">
      <div class="four wide field">
        <label>Passport Number</label>
        {{input type="text" placeholder="Passport Number" value=passportno}}
      </div>
      <div class="four wide field">
        <label>Passport Issue</label>
        {{pikaday-input value=pidate placeholder="Passport Issue" }}
      </div>
      <div class="four wide field">
        <label>Passport Expiry</label>
        {{pikaday-input value=pedate placeholder="Passport Expiry" }}
      </div>
    </div>


    <div class="fields">
      <div class="four wide field">
        <label>Iqama Number</label>
        {{input type="text" placeholder="Iqama Number" value=iqamano}}
      </div>
      <div class="four wide field">
        <label>Iqama Issue</label>
        {{pikaday-input  placeholder="Iqama Issue" value=iqidate}}
      </div>
      <div class="four wide field">
        <label>Iqama Expiry</label>
        {{pikaday-input  placeholder="Iqama Expiry" value=iqedate}}
      </div>
    </div>

    <div class="fields">
      <div class="four wide field">
        <label>Insurance  Number</label>
        {{input type="text" placeholder="Insurance Number" value=insuranceno}}
      </div>
      <div class="four wide field">
        <label>Insurance Issue</label>
        {{pikaday-input placeholder="Insurance Issue"  value=iidate}}
      </div>
      <div class="four wide field">
        <label>Insurance Expiry</label>
        {{pikaday-input placeholder="Insurance Expiry" value=iedate }}
      </div>
    </div>



    <div class="fields">
      <div class="four wide field">
        <label>Visa  Number</label>
        {{input type="text" placeholder="Visa Number" value=visano}}
      </div>
      <div class="four wide field">
        <label>Visa Issue</label>
        {{pikaday-input value=vidate placeholder="Visa Issue" value=vidate}}
      </div>
      <div class="four wide field">
        <label>Visa Expiry</label>
        {{pikaday-input value=vedate placeholder="Visa Expiry"  value=vedate}}
      </div>
    </div>

    <div class="fields">
      <div class="four wide field">
        <label>Maritial Status</label>
        {{#ui-dropdown class="selection left labeled" onChange=(action 'updateMarStatus')}}
        <div class=" default text">Please Select</div>

        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data>
            Single
          </div>
          <div class="item" data>
            Married
          </div>
        </div>
        {{/ui-dropdown}}
      </div>
      <div class="four wide field">
        <label>Religion</label>
        {{#ui-dropdown class="selection left labeled"  onChange=(action 'updateReligion')}}
        <div class=" default text">Please Select</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each religions as |religion|}}
          <div class="item selected" data-id="{{marstatus}}">
            {{religion}}
          </div>
          {{/each}}
        </div>
        {{/ui-dropdown}}
      </div>
      <div class="four wide field">
        <label>Nationality</label>
        {{#ui-dropdown class="ui dropdown selection " onChange=(action 'updateNationality')}}
        <div class=" default text">Please Select</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each nationalities as |nationality|}}
          <div class="item selected" data-id="{{nationality}}">
            {{nationality}}
          </div>
          {{/each}}
        </div>
        {{/ui-dropdown}}
      </div>
    </div>



      <div class="fields">
        <div class="four wide field">
          <label>Civil Status  Number</label>
          {{input type="text" placeholder="Civil Status" value=civstatus }}
        </div>
        <div class="four wide field">
          <label>Designation</label>
          {{input type="text" placeholder="Designation" value=designation}}
        </div>
        <div class="four wide field">
          <label>Department</label>
          {{input type="text" placeholder="Department" value=department}}
        </div>
      </div>


      <div class="fields">
        <div class="four wide field">
          <label>Specialization</label>
          {{ input type="text" placeholder="Specialization" value=speciali}}
        </div>
        <div class="four wide field">
          <label>Experience</label>
          {{input type="text" placeholder="Experience" value=exp}}
        </div>
        <div class="four wide field">
          <label>E-mail</label>
          {{input type="text" placeholder="E-mail" value=email}}
        </div>
      </div>

  </div> <!-- end of Fields -->



</div>
